<!--
  Generated template for the Coworkers page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Coworkers</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >

  <add-button (click)="presentProfileModal()"></add-button>

  <ion-searchbar (ionInput)="getItems($event)" (ionCancel)="fetchCoworkers()"></ion-searchbar>
  <ion-list>    
    <ion-item-sliding *ngFor="let person of people; let i = index">
      <ion-item>
        <ion-avatar item-start>
          <img *ngIf="!person.image" src="http://lorempixel.com/150/150/people/{{i}}">
          <img *ngIf="person.image" src="{{person.image}}">
        </ion-avatar>
        <h2>{{person.name | titlecase}} {{person.surname | titlecase}}</h2>
        <h3>Role: {{person.role}}</h3>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" icon-start (click)="rm(person)">
          <ion-icon name="remove"></ion-icon>
          RM
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>