<!--
  Generated template for the Coworkers page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title>Coworkers</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<add-button (click)="presentProfileModal()"></add-button>

<ion-list>
  <ion-item *ngFor="let person of people">
    <ion-avatar item-start>
      <img *ngIf="!person.image" src="http://via.placeholder.com/150x150">
      <img *ngIf="person.image" src="{{person.image}}">
    </ion-avatar>
    <h2>{{person.name | titlecase}} {{person.surname | titlecase}}</h2>
    <h3>Role: {{person.role}}</h3>
  </ion-item>
</ion-list>
</ion-content>
